#root {
    height: 100%;
}

.App {
    height: 100%;
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: column;

    row-gap: 24px;
}

@media (min-width: 376px) {
    .App {
        padding: 24px;

        row-gap: 33px;
    }
}

@media (min-width: 769px) {
    .App {
        padding: 32px;
        flex-direction: row;

        column-gap: 36px;
    }
}
